.logo {
  max-width: 50%;
}

.item-title {
  font-size: 150%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10%;
}

.item-header {
  margin-right: 10%;
}

.item-description {
  margin-right: 10%;
}