.title {
  font-size: 150%;
  margin-top: 0;
  margin-bottom: 0; }

.description {
  font-size: 125%;
  margin-left: 13%;
  margin-right: 13%;
  text-align: center; }

#about img {
  display: block;
  max-width: 20%;
  max-height: 20%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  overflow: hidden;
  width: 100%;
  height: 18%;
  background-color: #29B6F6;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none !important;
  margin: 5px 5px;
  color: white;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #E1306C;
}

.fa-linkedin:hover {
  color: #0077B5;
}

header {
  overflow: hidden;
  width: 100%;
  height: 800px;
  background-image: url("./images/headerbackground.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header p {
  font-size: 200%;
  color: white; }

html, body {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 0; }

section {
  overflow: hidden;
  width: 100%; }

.center {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.center-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: horizontal;
          flex-direction: horizontal;
  width: 100%; }

.column-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%; }

nav {
  overflow: hidden;
  width: 100%;
  height: 7%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #29B6F6;
}

nav a {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3%;
  height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 90%;
}

nav a:hover {
  background-color: #03A9F4;
  color: #FFFFFF;
  text-decoration: none;
}

.logo {
  max-width: 50%; }

.item-title {
  font-size: 150%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10%; }

.item-header {
  margin-right: 10%; }

.item-description {
  margin-right: 10%; }
